.testimonials .container{
    /* background-image: url(../../../images/whitaning.png); */
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 120px;
}
.testimonials .card{
    border-color: transparent;
    margin-right: 10px;
}

.testimonials .card .card-footer{
    background: transparent;
    border: 0;
}